Iterator-design-pattern/* linguist-documentation=false
Iterator-design-pattern/* linguist-vendored

abstract_factory/* linguist-documentation=false
abstract_factory/* linguist-vendored

exercise1/* linguist-documentation=false
exercise1/* linguist-vendored

exercise10/* linguist-documentation=false
exercise10/* linguist-vendored

exercise2/* linguist-documentation=false
exercise2/* linguist-vendored

exercise7/* linguist-documentation=false
exercise7/* linguist-vendored

exercise8/* linguist-documentation=false
exercise8/* linguist-vendored

observerDesignPattern/* linguist-documentation=false
observerDesignPattern/* linguist-vendored

reflection_DestroySIngleton/* linguist-documentation=false
reflection_DestroySIngleton/* linguist-vendored

singleton_designPattern/* linguist-documentation=false
singleton_designPattern/* linguist-vendored

strategy_designPattern/* linguist-documentation=false
strategy_designPattern/* linguist-vendored
